$firstColor: #eb7424 ;
$secondColor: #eb7424 ;

$fontColor: white;

$borderColor: rgba(74,72,79,1);
$borderColorOpacity: rgba(74,72,79,0);

$derros: #ffc501;

$defaultFont: flama-regular, sans-serif;
$titleFont: flama-bold, sans-serif;