@font-face {
  font-family: baskerville;
  src: url("baskerville-semi-bold.otf");
}
body {
  max-width: 120px;
  max-height: 600px;
  width: 120px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
body:hover {
  cursor: pointer;
}

#clickTag1 {
  height: 100%;
}

p {
  font-family: baskerville;
  font-size: 20px;
  color: #b79a7b;
  padding: 0;
  margin: 0;
}

.top, .middle, .bottom {
  width: 100%;
  display: flex;
  max-width: 100%;
}

.top {
  background-color: #b79a7b;
  color: #2f4550;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
}
.top .logo {
  height: 100%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .logo img {
  max-height: 100%;
  max-width: 100%;
}

.middle {
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
.middle .background-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle .background-image img {
  min-height: 100%;
  position: absolute;
  transition: 2.5s;
  left: 0;
}

.bottom {
  background-color: #2f4550;
  color: #b79a7b;
  z-index: 3;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.bottom p {
  padding: 5px;
  margin: 0;
  font-family: baskerville, sans-serif;
  font-size: 20px;
}

ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
ul li {
  font-size: 23px;
  font-family: baskerville, sans-serif;
  list-style-image: url("../img/check.png");
  margin: 10px 0;
  padding-right: 15px;
}

.call-to-action {
  position: relative;
  transition: 0.5s ease-out;
  z-index: 7;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
}
.call-to-action button {
  border: none;
  transition: 0.5s ease-out;
  color: white;
  border-radius: 28px;
  background-color: #2f4550;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: baskerville, sans-serif;
  letter-spacing: 0.5px;
}
.call-to-action button:hover {
  transform: scale(1.05);
}
.call-to-action.alt button {
  background-color: #b79a7b;
  color: white;
}

.slide {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.slide-1 {
  left: -120px;
}
.slide-1 p {
  left: -120px;
  transition: 0.6s ease-out;
}
.slide-1 .grid {
  grid-template-rows: 123px 1fr 123px;
}

.slide-2 {
  left: 120px;
}
.slide-2 .grid {
  grid-template-rows: 123px 1fr;
}
.slide-2 p {
  padding: 10px;
}
.slide-2 .text {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  margin-top: auto;
  align-items: center;
}
.slide-2 .text p {
  transition: 0.5s;
  position: absolute;
  left: 0;
}
.slide-2 .text p.p-2 {
  left: 120px;
}
.slide-2 .text p.p-3 {
  left: 120px;
}

.slide-3 {
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-3 .grid {
  grid-template-rows: 123px 1fr;
}
.slide-3 p {
  font-family: baskerville, sans-serif;
  font-size: 20px;
  margin-top: 100px;
  padding: 10px;
}
.slide-3 .wrapper {
  display: flex;
  justify-content: center;
}

#banner {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#banner.stage-1 .slide-1 {
  left: 0;
}
#banner.stage-1 .slide-1 p {
  left: 0;
}
#banner.stage-2 .slide-1 {
  left: 0;
}
#banner.stage-2 .slide-1 p {
  left: 0;
}
#banner.stage-2 .slide-1 .background-image img {
  left: -322px;
}
#banner.stage-3 .slide-2 {
  left: 0;
}
#banner.stage-4 .slide-2 {
  left: 0;
}
#banner.stage-4 .slide-2 .text .p-1 {
  left: -120px;
}
#banner.stage-4 .slide-2 .text .p-2 {
  left: 0;
}
#banner.stage-4 .slide-2 .text .p-3 {
  left: 120px;
}
#banner.stage-5 .slide-2 {
  left: 0;
}
#banner.stage-5 .slide-2 .text .p-1 {
  left: -120px;
}
#banner.stage-5 .slide-2 .text .p-2 {
  left: -120px;
}
#banner.stage-5 .slide-2 .text .p-3 {
  left: 0;
}
#banner.stage-6 .slide-3 .grid-item {
  top: 0;
}
#banner.stage-6 .slide-3 .grid-item .logo {
  top: 0;
  z-index: 5;
}
#banner.stage-6 .slide-3 {
  left: 0;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.slide {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
}

.grid-item {
  position: relative;
  transition: 0.5s ease-out;
}

.absolute {
  position: absolute;
}

.bg-first {
  background-color: #b79a7b;
}

.bg-second {
  background-color: #2f4550;
}

.color-first {
  color: #b79a7b;
}

.color-second {
  color: #2f4550;
}

.p-15 {
  padding: 15px;
}

/*# sourceMappingURL=compiled.css.map */
