@font-face {
  font-family: baskerville;
  src: url("baskerville-semi-bold.otf");
}
body {
  max-width: 336px;
  max-height: 280px;
  width: 336px;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
body:hover {
  cursor: pointer;
}

#clickTag1 {
  height: 100%;
}

.graphic-image {
  z-index: 2;
  position: relative;
}

.background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-out;
  z-index: 1;
}
.background-wrapper .graphic {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
.background-wrapper .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.background-wrapper .background-image img {
  width: 100%;
  height: 100%;
}

.top, .middle, .bottom {
  width: 100%;
  display: flex;
}

.top {
  background-color: #b79a7b;
  color: #2f4550;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.top .logo {
  height: 100%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .logo img {
  max-height: 100%;
  max-width: 100%;
}

.middle {
  height: 100%;
  z-index: 2;
}
.middle .background-image {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
}
.middle .background-image img {
  position: absolute;
  width: 100%;
}

.bottom {
  background-color: #2f4550;
  color: #b79a7b;
  z-index: 3;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.bottom p {
  padding: 0;
  margin: 0;
  font-family: baskerville;
  font-size: 26px;
}

ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-left: 40px;
}
ul li {
  font-size: 23px;
  font-family: baskerville;
  list-style-image: url("../img/check.png");
  margin: 10px 0;
  padding-right: 15px;
}

.call-to-action {
  position: relative;
  transition: 0.5s ease-out;
  z-index: 7;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.call-to-action button {
  border: none;
  transition: 0.5s ease-out;
  color: white;
  border-radius: 28px;
  background-color: #2f4550;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: baskerville;
  letter-spacing: 0.5px;
}
.call-to-action button:hover {
  transform: scale(1.05);
}

.slide {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.slide-1 {
  left: -336px;
}
.slide-1 p {
  left: -336px;
  transition: 0.6s ease-out;
}

.slide-2 {
  left: 336px;
}
.slide-2 .logo {
  top: 280px;
  position: relative;
}
.slide-2 .content .text {
  margin-top: auto;
}
.slide-2 .content .text p {
  font-size: 18px;
}

.slide-3 {
  left: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-3 p {
  font-family: baskerville, sans-serif;
  font-size: 24px;
  text-align: center;
}
.slide-3 .wrapper {
  display: flex;
  justify-content: center;
}

#banner {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#banner.stage-1 .slide-1 {
  left: 0;
}
#banner.stage-1 .slide-1 p {
  left: 0;
}
#banner.stage-2 .slide-2 {
  left: 0;
}
#banner.stage-3 .slide-3 {
  left: 0;
}
#banner.stage-4 .background-layer {
  left: 0;
}
#banner.stage-4 .background-wrapper .background-shape {
  left: 0;
}
#banner.stage-4 .background-wrapper .background-image-alt {
  left: 0;
}
#banner.stage-4 .slide-3 .product::before {
  opacity: 1;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide-2 .logo {
  top: 250px;
  position: relative;
}

.grid {
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-rows: 63px 1fr 97px;
}

.grid-item {
  position: relative;
  transition: 0.5s ease-out;
}

.absolute {
  position: absolute;
}

.bg-first {
  background-color: #b79a7b;
}

.bg-second {
  background-color: #2f4550;
}

.color-first {
  color: #b79a7b;
}

.color-second {
  color: #2f4550;
}

.p-15 {
  padding: 15px;
}

/*# sourceMappingURL=compiled.css.map */
