$firstColor: #58a618;
$secondColor: #002664;
$thirdColor: #002664;


$fontColor: white;

$borderColor: rgba(74,72,79,1);
$borderColorOpacity: rgba(74,72,79,0);

$derros: #ffc501;

$defaultFont: 'Ubuntu', sans-serif;
$titleFont: 'Ubuntu', sans-serif;

$w: 320px;
$h: 100px;

$barHeight: 56px;
$transitionTime: 0.4s ease-out;