$firstColor: #1a89a8;
$secondColor: #f8ea1b;
$thirdColor: #e6007e;


$fontColor: white;

$borderColor: rgba(74,72,79,1);
$borderColorOpacity: rgba(74,72,79,0);

$derros: #ffc501;

$defaultFont: raleway, sans-serif;
$titleFont: raleway, sans-serif;

$bg: #fed0da;
$bgAlt: #2c437f;

$width: 300px;
$height: 600px;