@font-face {
  font-family: baskerville;
  src: url("baskerville-semi-bold.otf");
}
body {
  max-width: 970px;
  max-height: 250px;
  width: 970px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
body:hover {
  cursor: pointer;
}

.has-bg {
  background-image: url(../img/image-1.jpg);
}

#clickTag1 {
  height: 100%;
}

.left, .middle, .right {
  height: 100%;
  display: flex;
}

.left {
  background-color: white;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle {
  height: 100%;
  color: #181a1b;
  z-index: 3;
  width: 357px;
  flex-direction: column;
}
.middle .image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.middle .image-wrapper #background-image {
  width: 100%;
  position: absolute;
  filter: brightness(1.11) contrast(1) saturate(1) hue-rotate(0deg);
}
.middle .filter {
  width: 100%;
  height: 319px;
  position: absolute;
  background-color: black;
  background-image: url("../img/image-1.jpg");
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5802521692) 0%, rgba(0, 0, 0, 0.1992997883) 15%, rgba(0, 0, 0, 0) 50%);
  filter: brightness(1.11) contrast(1) saturate(1) hue-rotate(0deg);
}
.middle .img-anchor {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  height: 30px;
  margin-top: auto;
  bottom: 8px;
}
.middle .img-anchor img {
  height: 19px;
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
}

.right {
  background-color: white;
  color: #b79a7b;
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 240px;
}
.right p {
  padding: 0;
  margin: 0;
  font-family: baskerville, sans-serif;
  font-size: 21px;
}
.right #logo-wrapper {
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 172px;
  min-width: 172px;
  flex-direction: column;
}
.right #logo {
  height: 100%;
  height: 40px;
}
.right #messages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.right #message-1 {
  height: 16px;
  margin-top: 5px;
}
.right #message-2 {
  height: 29px;
}

#blue-bar {
  height: 66px;
  position: absolute;
  top: 80px;
  left: 20px;
  transform: scale(0);
  margin-left: 15px;
  transform-origin: center;
  will-change: transform;
}

#main-message {
  height: 105px;
  transform: perspective(1px) translateZ(0);
  opacity: 0;
  margin-left: 50px;
}

#call-to-action {
  display: none;
  background-color: rgb(230, 13, 46);
  border-radius: 0;
  color: white;
  height: 33px;
  width: 162px;
  justify-content: center;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.stage-1 .appear-animation {
  animation-name: appear-animation;
  animation-duration: 300ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

@keyframes appear-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.stage-1 .appear-animation-opacity {
  animation-name: appear-animation-opacity;
  animation-duration: 500ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

@keyframes appear-animation-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.slide-1 {
  left: -970px;
}

#banner {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#banner.stage-1 .slide-1 {
  left: 0;
}
#banner.stage-1 .middle::after {
  left: -970px;
}
#banner.stage-2 .slide-1 {
  left: 0;
}
#banner.stage-2 #main-message {
  opacity: 1;
}
#banner.stage-2 #blue-bar {
  transform: scale(1);
}
#banner.stage-2 #message-2 {
  display: none;
}
#banner.stage-2 #call-to-action {
  display: flex;
  animation: grow-and-shrink 0.5s linear 3;
  animation-delay: 750ms;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide-2 .logo {
  top: 250px;
  position: relative;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.grid-item {
  position: relative;
  top: 100%;
  transition: 0.5s ease-out;
}

.absolute {
  position: absolute;
}

.bg-first {
  background-color: #b79a7b;
}

.bg-second {
  background-color: #181a1b;
}

.color-first {
  color: #b79a7b;
}

.color-second {
  color: #181a1b;
}

.p-15 {
  padding: 15px;
}

/*# sourceMappingURL=compiled.css.map */
