// @font-face {
// 	font-family: raleway;
// 	src: url(../Raleway-ExtraBold.ttf);
// }

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body{
    max-width: $w;
    max-height: $h;
    width: $w;
    height: $h;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
	background-color: white;

	&:hover{
		cursor: pointer;
	}
}

.has-bg{
	background-color: white;
}

#clickTag1{
	height: 100%;
}

#img-wrapper{
	position: absolute;
	left: 0;

	.bg-img{
		transition: $transitionTime;
		position: absolute;
		top: 0;
		opacity: 0;
		left: 0 !important;
	}
}

p{
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-family: $defaultFont;
}

label{
	color: $secondColor;
	font-family: $defaultFont;
	font-size: 18px;
	flex-grow: 1;
	margin-left: 30px;
}

.messages{
	position: relative;
	width: 260px;
	box-sizing: border-box;
}

.message{
	background-color: $firstColor;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
	flex: 0 0 auto;
	margin-right: auto;
	left: -$w;
	transition: $transitionTime;
	height: 100%;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	padding: 9px;
}	

button{
	background-color: $firstColor;
	font-family: $defaultFont;
	color: white;
	border-bottom-right-radius: 15px;
	padding: 10px 20px;
	border: 0;
	cursor: pointer;
	margin-right: 24px;
	
}

#call-to-action{
	display: none;
	background-color: rgb(230, 13, 46);
	border-radius: 0;
	color: white;
}

@keyframes grow-and-shrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

#intro{
	opacity: 0;
	z-index: 9;
	position: absolute;
	background-color: white;
	// transform: translate(-50%, -50%);
	display: flex;
}

#intro-wrapper{
	max-width: $w;
	width: $w;
	max-height: $h;
	height: $h;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.logo-wrapper{
	margin-left: auto;
	display: flex;

	img{
		margin-top: auto;
	}
}

#logo-wrapper{
	margin-left: 24px;
}

@keyframes big-zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(10);
	}
}

@keyframes fade-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slow-zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.04);
	}
}

@keyframes appear-animation {
	from {
	  transform: scale(0.00);
	}
	to {
	  transform: scale(1.00);
	}
  }

.slide{
	transition: 0.6s ease-out;
	width: 100%;
	height: 100%;
	left: $w;
	background-color: white;
}

.slide-1{
	left: -$w;
}

.slide-2{
	left: 0;
	top: $h;
}

.content{
	position: relative;
	height: $h;
	width: $w;
	padding: 15px 0;
	max-height: 100%;
	box-sizing: border-box;
}



#banner{
	display: flex;
	box-sizing: border-box;
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
	// border: 1px solid $secondColor;

	&.stage-1{
		.slide-1{
			left: 0;
		}

		.slide-2{
			display: none;
		}

		.bg-img:nth-child(1){
			opacity: 1;
			animation-name: slow-zoom;
			animation-duration: 3000ms;
			animation-delay: 300ms;
			animation-fill-mode: forwards;
		}

		.message-1{
			left: 0;
		}
	}

	&.stage-2{
		.slide-1{
			left: 0;
		}

		.bg-img:nth-child(1){
			left: -$w;
			transform: scale(1.04);
			animation-name: slow-zoom;
			animation-duration: 3000ms;
			animation-delay: 300ms;
			animation-fill-mode: forwards;
		}

		.bg-img:nth-child(2){
			opacity: 1;
			animation-name: slow-zoom;
			animation-duration: 3000ms;
			animation-delay: 300ms;
			animation-fill-mode: forwards;
		}

		.message-1{
			opacity: 0;
		}

		.message-2{
			left: 0;
		}
	}

	&.stage-3{

		.message-2{
			left: 0;
		}

		.slide-1{
			opacity: 0;
			left: 0;
		}

		.bg-img:nth-child(1){
			left: -$w;
			transform: scale(1.04);
		}

		.bg-img:nth-child(3){
			left: 0;
			transform: scale(1.04);
			animation-name: slow-zoom;
			animation-duration: 3000ms;
			animation-delay: 300ms;
			animation-fill-mode: forwards;
		}

		.slide-2{
			left: 0;
			top: 0;
		}

		.button{
			animation-name: grow-and-shrink;
			animation-duration: 500ms;
			animation-fill-mode: forwards;
			animation-iteration-count: 2;
			animation-delay: 800ms;
		}
	}

	&.stage-4{
		.slide-1{
			display: none;
		}

		.bg-img:nth-child(1){
			display: none;
			opacity: 1;
		}

		.bg-img:nth-child(2){
			display: none;
		}

		.bg-img:nth-child(3){
			display: none;
		}

		.slide-2{
			left: 0;
			top: 0;
		}
	}

	&.stage-5{
		.slide-1{
			left: 0;
		}

		.slide-2{
			opacity: 0; 
			left: 0;
			top: 0;
		}

		.bg-img:nth-child(1){
			opacity: 1;
			animation-name: slow-zoom;
			animation-duration: 3000ms;
			animation-delay: 300ms;
			animation-fill-mode: forwards;
		}

		.message-1{
			left: 0;
		}
	}
}