$firstColor: #e96a24;
$secondColor: #002664;
$thirdColor: #002664;


$fontColor: white;

$borderColor: rgba(74,72,79,1);
$borderColorOpacity: rgba(74,72,79,0);

$derros: #ffc501;

$defaultFont: 'avenir', sans-serif;
$titleFont: 'avenir', sans-serif;

$w: 320px;
$h: 250px;

$barHeight: 56px;

//Animations
$wobbleSeverity: 2deg;
$slowZoomDuration: 10000ms;